*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    margin: 0 2rem;
}
.intro-text{
    text-align: center;
    padding: 1.5rem;
}
.intro-text h5{
    color: bisque;
}
.intro-text h1{
    font-size: 2.5rem;
    color: navy;
}
.head-section{
    background-color: blueviolet;
    color: white;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.container{
    width: 85%;
    max-width: 1100px;
    margin:0 auto;

}

header{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header h1, a{
    color: white;
}

nav ul li{
    display: inline-block;
    padding: 0 1rem;
}

input[type="checkbox"]{
    display: none;
}
.hide{
    display: none;
}

.grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  padding: 1.5rem 0;
}
.img-div{
    grid-column:  span 6;
}
.img-div img{
    max-width: 100%;
    
}
.text-div{
 align-self: center;
 grid-column: span 6;

}
.text-div p{
    padding: 1.2rem 0;
}
.text-div button{
    padding: .6rem 1.1rem;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
 .test-div{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    grid-column: span 7;
} 
.inner-text{
    flex-basis: 65%;
}
.img-grid{
    grid-column:  span 5;
}
 
.last{
    background-color: aliceblue;
    padding: 1.2rem 0;
}
.footer-div{
    grid-column: span 3;
    background-color: white;
    box-shadow: 1px 0 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 1rem;
  }
  .footer-div p{
    padding:  1rem 0;
  }
/* Second Porfolio Page */
.nav-link{
    color: black;
}
.nav-head-link{
    color: navy;
}
.head-text{
    max-width: 800px;
    margin: 4rem auto;
    text-align: center;
}
.second-section{
    margin-top: 3rem;
}
.head-text h1{
    color: navy;
    font-size: 2.5rem;
    padding: 1rem 0;
}
.head-img{
    max-width: 100%;
    width: 60%;
    display: block;
    margin: 1rem auto 2rem;
}
.grey-bg{
    background-color: gainsboro;
}
.grid-1{
    padding: 2rem 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:20px;
}
.images img{
    width: 10%;
    margin: 0 2rem 1rem;
}
.footer{
    padding: 2rem;
}
.footer h5{
    padding:  1.5rem 0;
}
.footer h3{
    font-size: 2rem;
    color: navy;
}
footer{
    background-color: aliceblue;
    padding: 2rem .9rem;
  }
  .foot-div{
      text-align: center;
      margin: 0 auto;
      color: navy;
  }
  .foot-div span{
      color: cornflowerblue;
  }

@media only screen and (max-width:992px){
    nav ul {
        display: none;
    }
     
    nav #show-menu:checked ~ ul{
        left: 0;
       height: 100%;
   }
    .text-div, .img-div{
        grid-column: span 12;
    }

 .footer-div{
    grid-column:  span 6;
 }
 
  }
  @media only screen and (max-width:540px){
      .footer-div{
        grid-column: span 12;
      }
      .test-div{
        flex-direction: column;
      }
     .head-text h1, .footer h3{
        font-size: 1.5rem;
     }
  }
